<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人资料</title>
		 <link rel="Stylesheet" type="text/css" href="views/css/gerenziliao.css" />
	</head>
	<body>
		<!--
        	作者：offline
        	时间：2017-12-23
        	描述：顶部标签
        -->
		<div  class="header">
			<div class="header-left">
				<ul>
				<li><a href="#">设为首页</a></li>
				<li><a href="#">收藏本页</a></li>
			   </ul>
			</div>
		</div>
		<!--
        	作者：offline
        	时间：2017-12-23
        	描述：顶部结束
        -->
        <!--
        	作者：offline
        	时间：2017-12-23
        	描述：中部导航栏
        -->
        <div class="sec">
        	<div class="sec-left">
        		<img src="views/img/1.jpg" />
        		<div class="sec-right">
        			<ul>
        				<li><a href="#"><img src="views/img/tou.jpg"/>admin</a></li>
        				<li style="width: 1px; height: 15px;background-color: #CDCDCD; margin-top:3px;" ></li>
        				<li><a href="#" >设置</a></li>
        				<li style="width: 1px; height: 15px;background-color: #CDCDCD;margin-top:3px;"></li>
        				<li><a href="#">管理中心</a></li>
        				<li style="width: 1px; height: 15px;background-color: #CDCDCD;margin-top:3px;"></li>
        				<li><a href="#">退出</a></li>
        			</ul>
        			<p class="sec-right-p">
        				<a href="#">积分:6<a/>
        					
        				<span>用户权限:管理员 </span>			
        			</p>
        			<div class="sec-right-img">

						{if @!$_SESSION['picture']}
						<img src="views/img/xiang.jpg" style="width: 60px;height: 60px"/>
						{/if}
						{if @$_SESSION['picture']}
						<img src="{$picturn}" style="width: 60px;height: 60px"/>
						{/if}
        			</div>
        			
        		  
        		</div>
        	</div>
        	<div class="botton">
        	<ul>
        		<li style="background: #1252A7;"><a href="#">首页</a></li>
        	    <li><a href="#">php交流</a></li>
        	    <li class="botton-li"></li>
        	    <li><a href="#">程序人生</a></li>
        	    <li class="botton-li"></li>
        	</ul>
             </div>
            <div class="foot">
            	<img src="views/img/2.jpg" />
            	<input type="text" neme="uname" value="1" /><button class="sou">搜索</button>
            	 <div class="foot-right">
            	<ul>
            		<li>热搜:</li>
            		<li><a href="#">活动</a></li>
            		<li><a href="#">交友</a></li>
            		<li><a href="#">教程</a></li>
            	</ul>
            </div>
        
            </div>
        </div>
       <!--
       	作者：offline
       	时间：2017-12-23
       	描述：头部结束
       -->
       <!--
       	作者：offline
       	时间：2017-12-23
       	描述中间部分：
       -->
       
<div class="center">
	
		<img src="views/img/3.jpg" />
		<ul>
			<li><a href="#">设置</a> </li>
			<li><a href="#">   〉   </a></li>
			<li><a href="#">个人资料</a></li>
		</ul>
</div>
<!--
	作者：offline
	时间：2017-12-31
	描述：上部分结束
-->
<div class="con">
	<div class="con-left">
		<h3>设置</h3>
		<ul>
			<li><a href="touxiangshangchuan.php">修改头像</a></li>
			<li style="background-color: #FFFFFF; width: 135px;border: 1px solid #CDCDCD;"><a href="gerenziliao.php">个人资料</a></li>
			<li><a href="gexingqianming.php">个人签名</a></li>
		    <li><a href="mimaanquan.php">密码安全</a></li>
		</ul>
	</div>
	<form action="personal-data.php"method="post"enctype="multipart/form-data">
	<div class="con-right">
		<div class="con-right1">基本资料</div>
		<div class="con-right1-1"></div>
		<div class="con-right2">用户名</div>
		<div class="con-right2-2">admin</div>
		<div class="con-right2">真实姓名</div>
		<input type="text" name="realname"  />
		<div class="con-right2">性别</div>
		<div class="con-right3-3">
			<select  name="sex" style="width: 51px;height: 22px;">
				<option value="1">男</option>
				<option value="2">女</option>

			</select>
		</div>
		<div class="con-right2">生日</div>
		<div class="con-right4-4">
			<select name="nian" style="width: 39px;height: 22px;">

				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
				<option>2000</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
			</select>
			<select name="yue" style="width: 39px;height: 22px;">

				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
			</select>
			<select name="ri"  style="width: 39px;height: 22px;">

				<option>10</option>
				<option>12</option>
				<option>11</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
			</select>
		</div>
		<div class="con-right2">籍贯</div>
		<div class="con-right5-5">
			<select name="place" style="width: 132px;height: 22px;">

				<option>北京市</option>
				<option>河北省</option>
				<option>山东省</option>
				<option>江西省</option>
				<option>湖北省</option>
				<option>湖南省</option>
				<option>云南省</option>
				<option>广东省</option>
			</select>
		</div>
		<div class="con-right2">QQ</div>
		<div class="con-right6-6">
		<input type="text" name="qq"  />
		</div>
		<div class="con-right7-7">
		<input type="submit" value="保存"/>
		</div>

	</div>
	</form>
</div>



  <div class="won">
			<p class="p">powered by  <b>ccfff</b>  v2 <br> @2017 ccfffinc</p>
			<p  class="po">京ipc备 89273号 |<b>ccfff</b> <br>time no is 07-28 10:06</p>
			</div>


































	</body>
	</html>