<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>交友搜索结果</title>
		 <link rel="Stylesheet" type="text/css" href="css/huodongsousuojieguo.css" />
	</head>
	<body>
		<div class="top">
			<a href="#">返回首页 <img src="views/views/img/b.jpg"></a>
			<div class="top-right">
				<a href="#">登录</a>
				<a href="#">立即注册</a>
			</div>
		</div>
		<!--
        	作者：offline
        	时间：2017-12-31
        	描述：头部结束
        -->
		<div class="center">
			<div class="center-top">
				<img src="views/views/img/maiya.jpg" />
				<input type="text" name="uname" id="uname" value="1" /><button>搜索</button>
			</div>
			<div class="center-center">
				<h4>结果:找到"活动" 相关内容0个</h4>
			</div>
			<div class="center-download">
				对不起，没有找到匹配的结果
			</div>
			
		</div>
		<div class="download">
	                    powered by<a href="#">cccff </a> v2@2012<a href="#">ccfff inc.</a>	
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</body>
</html>
